@import '~scss/core.scss';

.DeviceStatus {
  display: flex;
  margin: $spacing-xs 0;
  background-color: material-color('grey', '200');
  border-radius: $border-radius-xs;
}

.Metric {
  display: inline-block;

  padding: $spacing-sm;
  font-size: $font-size-base;
  text-align: center;

  flex-grow: 1;

  @include desktop {
    padding: $spacing-base;
    font-size: $font-size-md;
  }
}

%Icon {
  @extend .fa;
  margin-right: $spacing-xs;
}

.IconBattery {
  @extend %Icon;
  @extend .fa-battery-half;
}

.IconTemperature {
  @extend %Icon;
  @extend .fa-thermometer-half;
}

.IconAccuracy {
  @extend %Icon;
  @extend .fa-crosshairs;
}
