@import '~scss/core.scss';

$barColors: ('red', 'deep-orange', 'amber', 'green', 'blue', 'deep-purple');

@mixin set-bar-height() {
  height: $spacing-lg;
  @include desktop {
    height: $spacing-lg * 1.5;
  }
}


.ReceiverControl {
  display: flex;
  margin: $spacing-xs 0;
  border-radius: $border-radius-xs;
  overflow: hidden;

  &:last-child {
    margin-bottom :0;
  }
}

.FrequencySelector {
  @include set-bar-height();

  font-size: $font-size-base;
  padding: 0 $spacing-base;
  margin-right: 0;
  text-align-last: center;

  @include desktop {
    padding: 0 $spacing-lg;
  }
}

.RssiBar {
  @include set-bar-height();

  display: relative;
  position: relative;
  width: 100%;

  margin-bottom: $spacing-xs;
  text-align: center;

  &:last-child {
    margin-bottom: 0px;
  }
}

.RssiBarInner {
  position: absolute;
  height: 100%;
  max-width: 100%;
  min-width: 1%;
  border-radius: 0 $border-radius-xs $border-radius-xs 0;

  transition: width 0.25s ease-in-out;
}

.RssiBarText {
  position: absolute;

  display: flex;
  width: 100%;
  height: 100%;

  align-items: center;
  justify-content: center;
  text-align: center;

  font-size: $font-size-base;
}
