@import '~scss/core.scss';

.StatusPill {
  display: inline-block;

  padding: $spacing-sm;
  font-size: $font-size-base;
  text-align: center;

  width: 50%;
  margin: 0 ($spacing-xs / 2);

  &:first-child {
    margin-left: 0px;
  }

  &:last-child {
    margin-right: 0px;
  }

  @include desktop {
    padding: $spacing-base;
    font-size: $font-size-md;
  }
}
