@import '~scss/core.scss';

.ConnectContainer {
  display: flex;
  margin: $spacing-xs 0;

  border-radius: $border-radius-xs;
  overflow: hidden;

  &:last-child {
    margin-bottom: 0;
  }
}

.IconUsb {
  @extend .fa;
  @extend .fa-usb;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 $spacing-base;

  background-color: material-color('grey', '300');
}

.PortSelector {
  display: block;
  margin-left: 0;

  height: 3rem;
  width: 100%;
}

.ConnectButton {
  display: block;
  height: 3rem;
}

@mixin ConnectionStatus($color) {
  padding: $spacing-base;

  text-align: center;
  font-size: $font-size-base;
  color: material-color($color, '800');
  background-color: material-color($color, '100');
  border-radius: $border-radius-xs;

  @include desktop {
    font-size: $font-size-md;
  }
}

.ConnectionStatusConnected {
  @include ConnectionStatus('green');
}

.ConnectionStatusDisconnected {
  @include ConnectionStatus('red');
}
