@import './core.scss';


* {
  font-family: $font-family;
  box-sizing: border-box;
}

html, body {
  font-size: 16px;
}

body {
  background-color: material-color('grey' ,'800');
  background-image: url('../img/bg.svg');
  background-size: 300px;
  background-position: 0px;

  animation: Scroll 30s linear infinite;

  @include desktop {
    background-size: 600px;
    animation: ScrollDesktop 30s linear infinite;
  }
}

button {
  display: inline-block;
  background-color: material-color($color-primary-material, '600');
  color: $color-text-primary-light;
  border: 0px;
  padding: $spacing-sm $spacing-md;

  &:hover {
    background-color: material-color($color-primary-material, '500');
  }

  &:disabled {
    background-color: material-color('grey', '600');
    color: material-color('grey', '400');
  }
}

select {
  display: inline-block;
  color: $color-text-primary-dark;
  padding: $spacing-sm;
  background-color: material-color('grey', '200');
  border: 0;
  //border-radius: $border-radius-sm;

  &:disabled {
    color: material-color('grey', '400');
  }
}

@keyframes Scroll {
  from { background-position: 0px 0px; }
  to { background-position: 300px 300px }
}

@keyframes ScrollDesktop {
  from { background-position: 0px 0px; }
  to { background-position: 600px 600px }
}
